body {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-image: url("../images/bg_rock.jpg") ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 1.5rem;
}
code {
  font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
}

/* Wrapper */
@-moz-keyframes smooth { 0% { opacity: 0; } 100% { opacity: 1; } }
@-webkit-keyframes smooth { 0% { opacity: 0; } 100% { opacity: 1; } }
@-o-keyframes smooth { 0% { opacity: 0; } 100% { opacity: 1; } }
@-ms-keyframes smooth { 0% { opacity: 0; } 100% { opacity: 1; } }
@keyframes smooth { 0% { opacity: 0; } 100% { opacity: 1; } }

#smooth {
  -moz-animation: smooth 1.5s forwards;
  -webkit-animation: smooth 1.5s forwards;
  -o-animation: smooth 1.5s forwards;
  -ms-animation: smooth 1.5s forwards;
  animation: smooth 1.5s forwards;
}

#light {
  Color:"white";
  background-color: "white";
}

.navbar {
  background-image: url("../images/bg_rock.jpg") ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


.navbar .navbar-toggler .icon-bar {
  background-color: white;
}
/* [2] Transition property for smooth transformation of images */
.zoom {
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

/* [3] Finally, transforming the image when container gets hovered */
.zoom:hover  {
  transform: scale(1.05);
}

#skills {
  border-radius: 25px;
  border: solid;
  border-width: thin;

  background-image: rgba(129, 139, 124, 0.1);
  opacity: 90%;
  padding: 0px 4px 0px;
  height: 6px;
  font-size: 0.9em;
  display: inline;
   word-break: keep-all;
    white-Space: nowrap; 
    margin-right: 5px;
}